.login-card {
  margin-top: 50px;
}

.login-card-title {
  text-align: center;
}

.login-card-btn-container {
  display: flex;
  justify-content: center;
}

.login-card-btn {
  height: 40px;
  padding: 0px 100px;
  font-size: 20px;
}

.error-msg {
  color: red;
  background-color: rgb(254, 219, 219);
  padding: 10px 0;
}