<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" th:href="@{/css/to-login.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper #00897b teal darken-1">
      <a href="#" class="brand-logo">タスク管理君</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a th:href="@{/}">
            <i class="material-icons left">exit_to_app</i>
            ログイン
          </a>
        </li>
        <li>
          <a th:href="@{/to-signup}">
            <i class="material-icons left">person_add</i>
            登録
           </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="card #fafafa grey lighten-5 login-card">
            <div class="card-content">
              <div class="card-title login-card-title">
                ログイン
              </div>
              <form 
                action="to-login.html"
                th:action="@{/login}"
                method="post"
                th:object="${userLoginForm}"
              >

                <div class="error-msg" th:if="${#fields.hasErrors('email')}">
                  <i class="material-icons left">report_problem</i>
                  <div th:errors="*{email}"></div>
                </div>
          
                <div class="input-field">
                  <input type="text" name="email" id="email" th:field="*{email}">
                  <label for="email">メールアドレス</label>
                </div>

                <div class="error-msg" th:if="${#fields.hasErrors('password')}">
                  <i class="material-icons left">report_problem</i>
                  <div th:errors="*{password}"></div>
                </div>
            
                <div class="input-field">
                  <i class="material-icons prefix">vpn_key</i>
                  <input type="password" name="password" id="password" th:field="*{password}">
                  <label for="password">パスワード</label>
                </div>

                <div class="login-card-btn-container">
                  <button class="btn waves-effect waves-light login-card-btn">
                    ログイン
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
</body>
</html>